
<%- include('../ADMIN/ADMINPARTIAL/header') %>

<%- include('../ADMIN/ADMINPARTIAL/middle') %>


    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
               
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    
                   
                    <li class="dropdown nav-item">
                      
                            <a class="dropdown-item text-danger" href="/admin/logOut"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        
                    </div>
                </div>
                <span><p style="color: red;"><%= exist %></p></span>
                <!-- add product -->
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <!-- add product -->
                            <form action="/admin/insert-product" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="title">
                                    <span style="color: red;" id="titleError"></span>
                                </div>
    
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="description"></textarea>
                                      <span style="color: red;" id="descriptionError"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="text" class="form-control" name="price" id="price">
                                                <span style="color: red;" id="priceError"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Category</label>
                                            <select class="form-control" name="category" id="category">
                                                <option selected>Choose...</option>
                                                
                                                <% categories.forEach(function(category) { %>
                                                    <% if(category.isListed===true) { %>
                                                    <option value="<%= category.id %>"><%= category.categoryName %></option>
                                                    <% } %>
                                                <% }); %>    
                                            </select>
                                            <span style="color: red;" id="categoryError"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Stock</label>
                                        <input placeholder type="text" class="form-control" name="stock" id="stock">
                                        <span style="color: red;" id="stockError"></span>
                                    </div>
                                    
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Discount</label>
                                    <input type="text" placeholder="%" class="form-control" id="discount" name="discount">
                                </div>
                                <span style="color: red;" id="discountError"></span>
                                <p>coverImage</p>
                                <input type="file" name="coverImage" style="display: block; margin-bottom: 20px;" id="coverImage" accept="image/*">
                                <span style="color: red;" id="imageError"></span>
                                <p>Images</p>
                                <input type="file" id="productImages" name="productImages" accept="image/*" multiple>
                                <span style="color: red;" id="imagesError"></span>
                                <button  type="submit">Add Product</button>
                            </form>
                            
                            <!-- add product form end -->
                        </div>
                    </div>
                </div>

               
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script>  M Store.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <script>
        function validateForm() {
            var title = document.getElementById("product_name").value;
            var description = document.getElementById("description").value;
            var price = document.getElementById("price").value;
            var stock = document.getElementById("stock").value;
            var discount = document.getElementById("discount").value;
            var coverImage = document.getElementById("coverImage").value;
            var productImages = document.getElementById("productImages").value;
            var categorySelect = document.getElementById('category');
            var categoryError = document.getElementById('categoryError');
    
            // Clear previous error messages
            document.getElementById('titleError').textContent = '';
            document.getElementById('descriptionError').textContent = '';
            document.getElementById('priceError').textContent = '';
            document.getElementById('stockError').textContent = '';
            document.getElementById('discountError').textContent = '';
            document.getElementById('imageError').textContent = '';
            document.getElementById('imagesError').textContent = '';
            categoryError.textContent = '';
    
            // Validate title
            if (title.trim() === '') {
                document.getElementById('titleError').textContent = 'Enter title';
                return false;
            }
    
            // Validate description
            if (description.trim() === '') {
                document.getElementById('descriptionError').textContent = 'Enter description';
                return false;
            }

            if (price.trim() === '') {
    document.getElementById('priceError').textContent = 'Please fill in the price';
    return false;
}
    
            // Validate price
            if (isNaN(price) || price < 0) {
                document.getElementById('priceError').textContent = 'Price must be a non-negative digit';
                return false;
            }
    
            // Validate category
            if (categorySelect.value === 'Choose...') {
                categoryError.textContent = 'Please select a category.';
                return false;
            }
    
            // Validate stock
            if (stock.trim() === '') {
                document.getElementById('stockError').textContent = 'Please fill in the stock';
                return false;
            }
    
            if (isNaN(stock) || stock < 0) {
                document.getElementById('stockError').textContent = 'Stock must be a non-negative digit';
                return false;
            }
    
            // Validate discount
            if (discount.trim() === '') {
                document.getElementById('discountError').textContent = 'Please fill in the discount';
                return false;
            }
    
            if (discount > 100 || discount < 0) {
                document.getElementById('discountError').textContent = 'Invalid value. Discount should be between 0 and 100.';
                return false;
            }
    
            // Validate coverImage and productImages formats
            if (!validateFileFormat(coverImage, ["jpg", "jpeg", "png"]) || !validateFileFormat(productImages, ["jpg", "jpeg", "png"])) {
                document.getElementById('imageError').textContent = 'Invalid file format for coverImage or productImages. Only JPG, JPEG, and PNG are allowed.';
                return false;
            }
    
            return true;
        }
    
        function validateFileFormat(inputValue, allowedFormats) {
            var fileExtension = inputValue.split('.').pop().toLowerCase();
            return allowedFormats.includes(fileExtension);
        }
    </script>

    <%- include('../ADMIN/ADMINPARTIAL/footer') %>