
<%- include('../ADMIN/ADMINPARTIAL/header') %>

<%- include('../ADMIN/ADMINPARTIAL/middle') %>
   

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
               
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                   
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    
                  
                    <li class="dropdown nav-item">
                       
                            <a class="dropdown-item text-danger" href="/admin/logOut"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon Management </h2>
                    <p>Management of coupons</p>
                </div>
                <div>
                   
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <a href="/admin/add-coupon" class="btn btn-md btn-success" >Add Coupon</a>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th scope="col">code</th>
                                    <th scope="col">Discount Type</th>
                                    <th scope="col">Discount Value</th>
                                    <th scope="col">Minimum Order Amount</th>
                                    <th scope="col">Maximum Redeemable Amount</th>
                                    <th scope="col">Expiration Date</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col" class="text-end"> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (coupon) { %>
                                    <% var a = 1 %>
                                <% coupon.forEach (item => { %>
                                <tr>
                                    
                                    <td><%= a %></td>
                                    <td><b><%= item.code %></b></td>
                                    <td><%= item.discountType  %></td>
                                      <% if (item.discountType === 'percentage') { %>
                                 <td><%= item.discountAmtOrPercentage %> % </td>
                                              <% } else  { %>
                                 <td>  ₹ <%= item.discountAmtOrPercentage %> </td>
                                              <% } %>
                                    <td><%= item.minOrderAmount %></td>
                                    <td><%= item.maxRedeemableAmt %></td>
                                    <td><%= item.expirationDate.toLocaleString() %></td>
                                    <% if(item.isActive === "Active") { %>
                                    <td><span class="badge rounded-pill alert-primary">Active</span></td>
                                    <% }  else {  %>
                                    <td><span class="badge rounded-pill alert-primary">inActive</span></td>
                                        <% } %>
                                    <td class="text-end">
                                        <% if(item.isActive === "Active") { %>
                                        <button onclick="couponStatus('<%= item.id %>')" type="button" class="btn btn-danger mb-2">Block</button>
                                        <% } else  { %>
                                        <button onclick="couponStatus('<%= item.id %>')" type="button" class="btn btn-success mb-2">Unblock</button>
                                        <% } %>
                                        <!-- <a href="#" style="color: red;" class="btn btn-md rounded mb-2"></a> -->
                                        <div style="display: hidden;"></div>
                                        <div class="dropdown">
                                            <a href="/admin/edit-coupon-page/<%= item.id %>" class="btn btn-md rounded font-sm">Edit</a>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% a++ %>
                               <% }); %>
                               <% } %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (page > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="/admin/coupon-management?page=<%= page - 1 %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&laquo;</span>
                            </li>
                        <% } %>
            
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <% if (i === page) { %>
                                <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/admin/coupon-management?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                        <% } %>
            
                        <% if (page < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="/admin/coupon-management?page=<%= page + 1 %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&raquo;</span>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> © M Store.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
<script src="/javascripts/admin/couponStatus.js"></script>

<%- include('../ADMIN/ADMINPARTIAL/footer') %>