<%- include('../ADMIN/ADMINPARTIAL/header') %>

<%- include('../ADMIN/ADMINPARTIAL/middle') %>

<main class="main-wrap">
  <header class="main-header navbar">
      <div class="col-search">
         
      </div>
      <div class="col-nav">
          <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
          <ul class="nav">
              
              <li class="nav-item">
                  <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
              </li>
              
             
              <li class="dropdown nav-item">
                 
                      <a class="dropdown-item text-danger" href="/admin/logOut"><i class="material-icons md-exit_to_app"></i>Logout</a>
                  </div>
              </li>
          </ul>
      </div>
  </header>
  <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Edit Coupon</h2>
        </div>
        <div>
           
        </div>
    </div>

    
        <div class="mb-3">
            <label for="couponCode" class="form-label">Coupon Code</label>
            <input type="text" class="form-control" id="couponCode" name="couponCode" value="<%= coupon.code %>">
            <div style="color: red;" id="couponCodeError"></div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const couponCodeInput = document.getElementById('couponCode');
    
                couponCodeInput.addEventListener('input', function () {
                    this.value = this.value.toUpperCase();
                });
            });
        </script>
        <div class="mb-3">
            <label for="discountType" class="form-label">Discount Type</label>
            <select class="form-select" id="discountType" name="discountType" onchange="toggleRedeemableAmount()">
                <option value="percentage" <% if (coupon.discountType === 'percentage') { %>selected<% } %>>Percentage</option>
                <option value="fixedAmount" <% if (coupon.discountType === 'fixedAmount') { %>selected<% } %>>Fixed Amount</option>
            </select>
            <span style="color: red;" id="discountTypeError"></span>
        </div>

        <div class="mb-3" id="redeemableAmountContainer" style="display: none;">
            <label for="redeemableAmount" class="form-label">Redeemable Amount</label>
            <input type="text" class="form-control" id="redeemableAmount" name="redeemableAmount" value="<%= coupon.maxRedeemableAmt %>">
            <span style="color: red;" id="redeemableAmountError"></span>
        </div>

        <div class="mb-3">
            <label for="discountValue" class="form-label" id="discountAmtOrPercentageLabel">Discount Amount</label>
            <input type="text" class="form-control" id="discountAmtOrPercentage" name="discountAmtOrPercentage" value="<%= coupon.discountAmtOrPercentage %>">
            <span style="color: red;" id="discountError"></span>
        </div>
          
        <div class="mb-3">
            <label for="minOrderAmount" class="form-label">Minimum Order Amount</label>
            <input type="text" class="form-control" id="minOrderAmount" name="minOrderAmount" value="<%= coupon.minOrderAmount %>">
            <span style="color: red;" id="minOrderAmountError"></span>
        </div>

        <div class="mb-3">
            <label for="expirationDate" class="form-label">Expiration Date</label>
            <input type="date" class="form-control" id="expirationDate" name="expirationDate">
            <span style="color: red;" id="expirationDateError"></span>
        </div>
        
        <script>
           
            const rawDate = "<%= coupon.expirationDate %>";
            const formattedDate = new Date(rawDate).toISOString().split('T')[0];
            document.getElementById("expirationDate").value = formattedDate;
        </script>
        
        <button type="button" class="btn btn-lg btn-primary" onclick="editCoupon('<%= coupon.id %>')">Save Changes</button>
    

    <script>
        function toggleRedeemableAmount() {
            var discountType = document.getElementById("discountType").value;
            var redeemableAmountContainer = document.getElementById("redeemableAmountContainer");

            // Show or hide the redeemable amount input based on the selected discount type
            if (discountType === "percentage") {
                redeemableAmountContainer.style.display = "block";
                document.getElementById('discountAmtOrPercentageLabel').innerHTML="Percentage"
            } else {
                redeemableAmountContainer.style.display = "none";
                document.getElementById('discountAmtOrPercentageLabel').innerHTML="Discount Amount"
            }
        }
    </script>
</section>


  <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
          <div class="col-sm-6">
              <script>
              document.write(new Date().getFullYear())
              </script> ©, M Store .
          </div>
          <div class="col-sm-6">
              <div class="text-sm-end">
                  All rights reserved
              </div>
          </div>
      </div>
  </footer>
</main>
<!-- sweetalert cdn -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/admin/editCoupon.js"></script>

<%- include('../ADMIN/ADMINPARTIAL/footer') %>