<%- include('../USERPARTIAL/header') %>

<%- include('../USERPARTIAL/middle') %>





    <!-- //above use partila -->
    <main class="main">       
        <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Trade-in offer</h4>
                                    <h2 class="animated fw-900">Supper value deals</h2>
                                    <h1 class="animated fw-900 text-brand">On all products</h1>
                                    <p class="animated">Save more with coupons & up to 70% off</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/userassets/imgs/slider/slider-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Hot promotions</h4>
                                    <h2 class="animated fw-900">Fashion Trending</h2>
                                    <h1 class="animated fw-900 text-7">Great Collection</h1>
                                    <p class="animated">Save more with coupons & up to 20% off</p>
                                    <a class="animated btn btn-brush btn-brush-2" href="shop-product-right.html"> Discover Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-2" src="/userassets/imgs/slider/slider-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Upcoming Offer</h4>
                                    <h2 class="animated fw-900">Big Deals From</h2>
                                    <h1 class="animated fw-900 text-8">Manufacturer</h1>
                                    <p class="animated">Guitar,Piano,Violin,Cello</p>
                                    <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html"> Shop Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-3" src="/userassets/imgs/slider/slider-3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <section class="featured section-padding position-relative">            
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userassets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userassets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userassets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userassets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userassets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userassets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li>
                    </ul>
                    <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% products.forEach(product=>{ %>

                                <!-- box start -->
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/purchaseproduct/<%= product.id %>">
                                                    <img class="default-img" src="<%= product.coverImage %>" alt="" style="height: 200px; object-fit: cover;">
                                                    <img class="hover-img" src="<%= product.productImages[0] %>" alt="" style="height: 200px; object-fit: cover;">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> -->
                                                <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> -->
                                                <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                            </div>
                                            <!-- <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div> -->
                                        </div>
                                        <div class="product-content-wrap" style="height: 300px; /* Set a fixed height for uniformity */">
                                            <div class="product-category">
                                                <a> <%= product.category.categoryName %> </a>
                                            </div>
                                            <h2><a href="/purchaseproduct/<%= product.id %>"><%= product.title %></a></h2>
                                            <div>
                                                <span>
                                                     <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹ <%= product.price %></span>
                                                <!-- <span class="old-price">$245.8</span> -->
                                            </div>
                                            <div class="product-action-1 show">
                                               
                                                

                                                  <button type="button" aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= product.id %>')" id="addToCartBtn"><i class="fi-rs-shopping-bag-add"></i></button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            
                            <% }) %>
                          
                        </div>
                        <!-- box end -->
                        <!--End product-grid-4-->
                    </div>
                  
        </section>
    </main>

<!-- bellow use footer partial -->



  
    <!--notification -->
<section>

<!-- notification -->


<div id="notification" class="notificationDiv" style="display: none;">
    
</div>


<style>
    #notification {
        display: none;
        position: fixed;
        top: 20px; /* Adjust to 20px from the top */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Center vertically and horizontally */
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Set a high z-index value */
    }

    
</style>

<!-- spinner -->
<style>

#addToCartBtn {
position: relative;
}

#addToCartBtn.loading:after {
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border: 4px solid #fff;
border-radius: 50%;
border-top: 4px solid #3498db;
width: 20px;
height: 20px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: translate(-50%, -50%) rotate(0deg); }
100% { transform: translate(-50%, -50%) rotate(360deg); }
}

</style>

  <!-- pagination for all products  -->

  <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <% if (i === page) { %>
                    <li class="page-item active"><span class="page-link"><%= i %></span></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/userhomeget?page=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
            <!-- <li class="page-item"><a class="page-link" href="#">16</a></li> -->
            <!-- <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li> -->
        </ul>
    </nav>
</div>
 <!-- pagination end -->
 

 


<!-- add to cart -->


<script>
    
    async function addToCart(productId) {
        
        const button = document.getElementById('addToCartBtn');
        
        try {
            // Add a loading state to the button
            button.classList.add('loading');

            const response = await fetch('/addtocart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId, quantity: 1 })
            });
            if(response.status===202){
                
              return  showOutOfStock();
            }

            if (!response.ok) {
                console.error('Error adding product to cart:', response.status);
                return;
            }
    
            
            
         if(response.status===200){
            showNotification();
         }
            // Show the notification
            
        } catch (error) {
            console.error('Error:', error);
        } finally {
            // Remove the loading state from the button
            button.classList.remove('loading');
        }
    }
    
    function showNotification() {
       
        const notificationDiv = document.getElementById('notification')
        // Check if the notificationDiv exists
        if (notificationDiv) {
            // Show the notification
            notificationDiv.style.display = 'block';
            document.getElementById('notification').innerText="Product added to cart!"
            // Hide the notification after a few seconds (adjust the timeout as needed)
            setTimeout(() => {
                notificationDiv.style.display = 'none';
            }, 3000); // Hide after 3 seconds
        } else {
            console.error('Notification div not found');
        }
    }


    function showOutOfStock() {
       
        
       const notificationDiv = document.getElementById('notification')
       // Check if the notificationDiv exists
       if (notificationDiv) {
           // Show the notification
           notificationDiv.style.display = 'block';
           document.getElementById('notification').innerText="Out Of Stock!"
           // Hide the notification after a few seconds (adjust the timeout as needed)
           setTimeout(() => {
               notificationDiv.style.display = 'none';
           }, 3000); // Hide after 3 seconds
       } else {
           console.error('Notification div not found');
       }
   }


    function showOutOfStock() {
       
        
        const notificationDiv = document.getElementById('notification')
        // Check if the notificationDiv exists
        if (notificationDiv) {
            // Show the notification
            notificationDiv.style.display = 'block';
            document.getElementsByClassName('notificationDiv')[0].innerHTML="Out of Stock"
            // Hide the notification after a few seconds (adjust the timeout as needed)
            setTimeout(() => {
                notificationDiv.style.display = 'none';
            }, 3000); // Hide after 3 seconds
        } else {
            console.error('Notification div not found');
        }
    }
    </script>



</section>




  
    <%- include('../USERPARTIAL/footer') %>
